.vendor(@property, @value) {
    @{property}: @value;
    @{property}: @value;
}

@blue: #1485a3;
@dresscolor: @blue;

.pseudoclear {
    content: "";
    display: block;
    position: absolute;
    filter: opacity(1);
}

html {
    min-width: 665px;
}

div {
    position: absolute;
    filter: opacity(1);
    box-sizing: border-box;
}


body {
    font-size: 1px;
    background-color: #281b11;
    background-image: linear-gradient(to bottom, #2c3521, #0b0e07);
    padding: 33px 5px 66px;

    .paper {
        position: relative;
        margin: auto;
        background-color: #242c1a;
        background-image: radial-gradient(circle farthest-corner at 126% 36%, rgba(0,0,0,0) 65%, #000206 81%),radial-gradient(circle farthest-corner at 47% 50%, #5d818a 9%, #062931 76%);
        box-shadow: 0 0 10px 8px #251e0b, 0 0 5px 20px #473c1c, 0 0 14px 34px #2e2613, 0 0 0 40px #261e0f;
        overflow: hidden;
        box-sizing: content-box;
        width: 650px;

        .container {
            position: relative;
            margin: auto;
            width: 100%;
            height: 1050px;
            perspective: 400px;
        }

        .tree {
            width: 100%;
            height: 100%;
        }

        .square {
            top: 8%;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 72%;

            .hairdo {
                top: 23.5%;
                left: 26%;
                width: 28%;
                height: 30%;
                transform: rotate(-9deg);
            }

            .sash {
                border-radius: ~'0 0 49% 51% / 0 0 54% 74%';
                width: 142%;
                height: 17%;
                left: -13%;
                top: -26%;
                transform: rotate(3deg);

                .left {
                    border-radius: ~'50% 50% 0 0 / 100% 100% 0 0';
                    width: 11%;
                    height: 57%;
                    top: 3%;
                    left: -4%;
                    transform: rotate(-41deg);
                    box-shadow: inset 0 22px 2px -3px darken(@dresscolor, 18%);
                }

                .right {
                    border-radius: ~'50% 50% 0 0 / 100% 100% 0 0';
                    width: 11%;
                    height: 57%;
                    top: 6%;
                    right: -4%;
                    transform: rotate(41deg);
                    box-shadow: inset 0 22px 2px -3px darken(@dresscolor, 15%);
                }
            }

            .body,
            .hairdo {
                .feather {
                    &.feather1 {}

                    &.feather2 {
                        width: 74%;
                        height: 35%;
                        top: -61%;
                        right: -33%;
                        transform: rotate(45deg);
                    }

                    &:after {
                        .pseudoclear;
                        top: 32%;
                        margin-top: -1px;
                        height: 30%;
                        box-shadow: inset -6px -8px 1px -6px #af7373, -5px 20px 31px -10px rgba(136,17,50,0.62);
                        border-radius: 90%;
                        width: 100%;
                    }

                    .featherside {
                        border-radius: ~'0% 56% 0% 0 / 0% 100% 0% 0';
                        height: 51%;
                        width: 100%;

                        &.left {
                            bottom: 0;
                            transform: scaleY(-1);
                        }

                        &.right {
                            top: 0;

                            .feath {
                                &:nth-of-type(5n+3) {
                                    transform: rotate(6deg);
                                }

                                &:nth-of-type(2n+7) {
                                    transform: rotate(-2deg);
                                }
                            }
                        }

                        .feath {
                            background: none;
                            border-right-style: double;
                            border-right-width: 7px;
                            border-color: #ab636f;
                            transform-origin: 100% 100%;
                            max-width: 74%;
                            bottom: 0;
                            height: 106%;
                            box-shadow: none;
                            height: 100%;
                            border-radius: inherit;
                            opacity: 0.6;

                            &:nth-of-type(odd) {
                                border-color: #9a4c6b;
                            }

                            &.feath1 {
                                right: 0;
                                width: 53%;
                            }

                            &.feath2 {
                                right: 2%;
                                width: 85%;
                            }

                            &.feath3 {
                                right: 4%;
                                width: 53%;
                            }

                            &.feath4 {
                                right: 6%;
                                width: 86%;
                            }

                            &.feath5 {
                                right: 8%;
                                width: 58%;
                            }

                            &.feath6 {
                                right: 10%;
                                width: 63%;
                            }

                            &.feath7 {
                                right: 12%;
                                width: 56%;
                            }

                            &.feath8 {
                                right: 14%;
                                width: 84%;
                            }

                            &.feath9 {
                                right: 16%;
                                width: 56%;
                            }

                            &.feath10 {
                                right: 18%;
                                width: 68%;
                            }

                            &.feath11 {
                                right: 20%;
                                width: 53%;
                            }

                            &.feath12 {
                                right: 22%;
                                width: 83%;
                            }

                            &.feath13 {
                                right: 24%;
                                width: 54%;
                            }

                            &.feath14 {
                                right: 26%;
                                width: 66%;
                            }

                            &.feath15 {
                                right: 28%;
                                width: 58%;
                            }

                            &.feath16 {
                                right: 30%;
                                width: 120%;
                            }

                            &.feath17 {
                                right: 32%;
                                width: 52%;
                            }

                            &.feath18 {
                                right: 34%;
                                width: 64%;
                            }

                            &.feath19 {
                                right: 36%;
                                width: 56%;
                            }

                            &.feath20 {
                                right: 37%;
                                width: 88%;
                            }

                            &.feath21 {
                                right: 40%;
                                width: 58%;
                            }

                            &.feath22 {
                                right: 42%;
                                width: 52%;
                            }

                            &.feath23 {
                                right: 44%;
                                width: 54%;
                            }

                            &.feath24 {
                                right: 46%;
                                width: 54%;
                            }

                            &.feath25 {
                                right: 48%;
                                width: 45%;
                                height: 80%;
                            }

                            &.feath26 {
                                right: 50%;
                                width: 28%;
                                height: 79%;
                            }

                            &.feath27 {
                                right: 52%;
                                width: 24%;
                                height: 73%;
                            }

                            &.feath28 {
                                right: 54%;
                                width: 38%;
                                height: 86%;
                            }

                            &.feath29 {
                                right: 56%;
                                width: 44%;
                                height: 85%;
                            }

                            &.feath30 {
                                right: 58%;
                                width: 34%;
                                height: 84%;
                            }

                            &.feath31 {
                                right: 60%;
                                width: 34%;
                                height: 83%;
                            }

                            &.feath32 {
                                right: 62%;
                                width: 32%;
                                height: 82%;
                            }

                            &.feath33 {
                                right: 64%;
                                width: 38%;
                                height: 81%;
                            }

                            &.feath34 {
                                right: 66%;
                                width: 28%;
                                height: 80%;
                            }

                            &.feath35 {
                                right: 68%;
                                width: 26%;
                                height: 79%;
                            }

                            &.feath36 {
                                right: 70%;
                                width: 27%;
                                height: 78%;
                            }

                            &.feath37 {
                                right: 72%;
                                width: 30%;
                                height: 75%;
                            }

                            &.feath38 {
                                right: 74%;
                                width: 33%;
                                height: 70%;
                            }

                            &.feath39 {
                                right: 76%;
                                width: 37%;
                                height: 65%;
                            }

                            &.feath40 {
                                right: 78%;
                                width: 27%;
                                height: 60%;
                            }

                            &.feath41 {
                                right: 80%;
                                width: 39%;
                                height: 55%;
                            }

                            &.feath42 {
                                right: 82%;
                                width: 37%;
                                height: 50%;
                            }

                            &.feath43 {
                                right: 84%;
                                width: 26%;
                                height: 45%;
                            }

                            &.feath44 {
                                right: 86%;
                                width: 35%;
                                height: 40%;
                            }

                            &.feath45 {
                                right: 88%;
                                width: 36%;
                                height: 35%;
                            }

                            &.feath46 {
                                right: 90%;
                                width: 21%;
                                height: 25%;
                            }

                            &.feath47 {
                                right: 92%;
                                width: 26%;
                                height: 20%;
                            }

                            &.feath48 {
                                right: 94%;
                                width: 20%;
                                height: 15%;
                            }

                            &.feath49 {
                                right: 96%;
                                width: 17%;
                                height: 10%;
                            }

                            &.feath50 {
                                right: 98%;
                                width: 14%;
                                height: 5%;
                            }
                        }
                    }
                }

                .curl,
                .hair {
                    overflow: hidden;

                    &:after {
                        .pseudoclear;
                        right: 0;
                        top: 0;
                        border-radius: inherit;
                        width: 100%;
                        height: 100%;
                    }

                    .strand {
                        background-color: #bfab87;
                        background-image: linear-gradient(to bottom, #d7d1c3 1%, #edece7 25%, #dcd8ce 46%, #c1b8a8 61%);
                        height: 114%;
                        width: 70%;
                        top: -1%;
                        margin: auto;
                        border: 2px double rgba(138, 116, 29, 0.16);
                        box-shadow: 0 3px 4px 1px #95835d, inset 0 0 2px 1px #ab9c7a;
                        border-radius: inherit;
                        opacity: 0.5;

                        &.strand1 {
                            right: 0;
                            height: 103%;
                            width: 103%;
                            background: none;
                            box-shadow: 0 3px 4px 1px #95835d, inset 0 0 2px 1px #ab9c7a;
                        }

                        &.strand2 {
                            right: 3%;
                            height: 124%;
                            width: 106%;
                            background: none;
                            box-shadow: 0 3px 4px 1px #95835d, inset 0 0 2px 1px #ab9c7a;
                        }

                        &.strand3 {
                            right: 4%;
                            height: 104%;
                            width: 103%;
                            background: none;
                            box-shadow: 0 3px 4px 1px #95835d, inset 0 0 2px 1px #ab9c7a;
                        }

                        &.strand4 {
                            right: 5%;
                            height: 106%;
                            width: 116%;
                        }

                        &.strand5 {
                            right: 8%;
                            height: 108%;
                            width: 108%;
                        }

                        &.strand6 {
                            right: 10%;
                            height: 110%;
                            width: 153%;
                        }

                        &.strand7 {
                            right: 12%;
                            height: 112%;
                            width: 106%;
                        }

                        &.strand8 {
                            right: 14%;
                            height: 114%;
                            width: 114%;
                        }

                        &.strand9 {
                            right: 16%;
                            height: 116%;
                            width: 106%;
                        }

                        &.strand10 {
                            right: 18%;
                            height: 118%;
                            width: 158%;
                        }

                        &.strand11 {
                            right: 20%;
                            height: 120%;
                            width: 103%;
                        }

                        &.strand12 {
                            right: 22%;
                            height: 122%;
                            width: 113%;
                        }

                        &.strand13 {
                            right: 24%;
                            height: 124%;
                            width: 104%;
                        }

                        &.strand14 {
                            right: 26%;
                            height: 126%;
                            width: 156%;
                        }

                        &.strand15 {
                            right: 28%;
                            height: 128%;
                            width: 108%;
                        }

                        &.strand16 {
                            right: 30%;
                            height: 130%;
                            width: 120%;
                        }

                        &.strand17 {
                            right: 32%;
                            height: 132%;
                            width: 102%;
                        }

                        &.strand18 {
                            right: 34%;
                            height: 134%;
                            width: 154%;
                        }

                        &.strand19 {
                            right: 36%;
                            height: 136%;
                            width: 106%;
                        }

                        &.strand20 {
                            right: 37%;
                            height: 138%;
                            width: 118%;
                        }

                        &.strand21 {
                            right: 40%;
                            height: 140%;
                            width: 108%;
                        }

                        &.strand22 {
                            right: 42%;
                            height: 142%;
                            width: 142%;
                        }

                        &.strand23 {
                            right: 44%;
                            height: 144%;
                            width: 104%;
                        }

                        &.strand24 {
                            right: 46%;
                            height: 146%;
                            width: 146%;
                        }

                        &.strand25 {
                            right: 48%;
                            height: 148%;
                            width: 108%;
                        }

                        &.strand26 {
                            right: 50%;
                            height: 146%;
                            width: 146%;
                        }

                        &.strand27 {
                            right: 52%;
                            height: 148%;
                            width: 108%;
                        }

                        &.strand28 {
                            right: 54%;
                            height: 146%;
                            width: 146%;
                        }

                        &.strand29 {
                            right: 56%;
                            height: 144%;
                            width: 104%;
                        }

                        &.strand30 {
                            right: 58%;
                            height: 138%;
                            width: 138%;
                        }

                        &.strand31 {
                            right: 60%;
                            height: 136%;
                            width: 106%;
                        }

                        &.strand32 {
                            right: 62%;
                            height: 134%;
                            width: 134%;
                        }

                        &.strand33 {
                            right: 64%;
                            height: 132%;
                            width: 102%;
                        }

                        &.strand34 {
                            right: 66%;
                            height: 130%;
                            width: 130%;
                        }

                        &.strand35 {
                            right: 68%;
                            height: 128%;
                            width: 108%;
                        }

                        &.strand36 {
                            right: 70%;
                            height: 126%;
                            width: 126%;
                        }

                        &.strand37 {
                            right: 72%;
                            height: 124%;
                            width: 104%;
                        }

                        &.strand38 {
                            right: 74%;
                            height: 120%;
                            width: 120%;
                        }

                        &.strand39 {
                            right: 76%;
                            height: 118%;
                            width: 108%;
                        }

                        &.strand40 {
                            right: 78%;
                            height: 118%;
                            width: 158%;
                        }

                        &.strand41 {
                            right: 80%;
                            height: 116%;
                            width: 106%;
                        }

                        &.strand42 {
                            right: 82%;
                            height: 114%;
                            width: 114%;
                        }

                        &.strand43 {
                            right: 84%;
                            height: 110%;
                            width: 104%;
                        }

                        &.strand44 {
                            right: 86%;
                            height: 108%;
                            width: 128%;
                        }

                        &.strand45 {
                            right: 88%;
                            height: 106%;
                            width: 106%;
                        }

                        &.strand46 {
                            right: 90%;
                            height: 104%;
                            width: 134%;
                        }

                        &.strand47 {
                            right: 92%;
                            height: 102%;
                            width: 102%;
                        }

                        &.strand48 {
                            right: 94%;
                            height: 100%;
                            width: 140%;
                        }

                        &.strand49 {
                            right: 96%;
                            height: 103%;
                            width: 115%;
                        }

                        &.strand50 {
                            right: 98%;
                            height: 103%;
                            width: 103%;
                        }
                    }
                }

                .hair {
                    border-radius: ~'15% 85% 100% 0% / 39% 35% 65% 35%';
                    bottom: 21%;
                    height: 114%;
                    width: 83%;

                    &:after {
                        .pseudoclear;
                    }

                    &.rightpouf {
                        border-radius: ~'54% 42% 37% 19% / 39% 38% 59% 52%';
                        transform: rotate(16deg);
                        right: -53%;
                        bottom: 20%;
                        width: 142%;
                        height: 104%;

                        &:after {
                            background-color: rgba(87, 68, 40, 0.67);
                            background-image: radial-gradient(ellipse at 75% 70%, #422e14 8%, transparent 16%);
                            box-shadow: inset -38px 11px 27px -22px rgba(70, 87, 114, 0.52);
                        }
                    }
                }

                .curl {
                    &.curl3 {
                        border-radius: ~'0% 95% 96% 0% / 0% 50% 50% 0%';
                        top: 32%;
                        left: -19%;
                        width: 71%;
                        height: 80%;
                        transform: rotate(-55deg) scaleX(-1);

                        &:after {
                            background: rgba(114, 93, 64, 0.62);
                            box-shadow: inset 32px -42px 30px 20px rgba(96, 78, 52, 0.5); 
                        }
                    }

                    &.curl8 {
                        border-radius: ~'0% 95% 96% 0% / 0% 50% 50% 0%';
                        top: 62%;
                        left: 11%;
                        width: 51%;
                        height: 90%;
                        transform: rotate(-5deg) scaleX(-1);

                        &:after {
                            background: rgba(113, 90, 59, 0.56);
                            box-shadow: inset 17px 71px 26px 5px rgba(96, 78, 52, 0.67);
                        }
                    }
                }
            }
        }

        div.body {
            top: 53.7%;
            left: 19%;
            margin: auto;
            width: 61%;
            height: 69%;

            .skirtback {
                background-color: darken(@dresscolor, 15%);
                box-shadow: inset -25px -37px 43px 9px darken(@dresscolor, 30%), inset -10px -3px 30px 9px darken(@dresscolor, 30%);
                top: 71%;
                left: -37%;
                height: 48%;
                width: 151%;
                border-radius: ~'44% 53% 0% 0% / 100% 100% 0% 0%';
            }

            .leftarm {
                width: 22%;
                height: 45%;
                transform: rotate(0deg);
                right: 21%;
                top: 31%;
                border-radius: ~'0 72% 64% 41% / 5% 21% 30% 29%';

                .upperarm {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    overflow: hidden;

                    .skin {
                        border-radius: inherit;
                        width: 100%;
                        height: 101%;
                        margin-top: 2%;
                        background-color: #5ba0a3;
                        background-image: radial-gradient(ellipse farthest-side at 66% 33%, #7e615c 9%, #3f1a16 100%);
                        box-shadow: inset -5px -17px 14px -3px #462922;

                        .uppershadow {
                            width: 100%;
                            top: 27%;
                            transform: rotate(-1deg);
                            box-shadow: 0 0 7px 11px rgba(70, 38, 38, 0.48);
                        }
                    }
                }

                .lowerarm {
                    bottom: 17%;
                    width: 82%;
                    height: 98%;
                    right: 7%;
                    transform: rotate(36deg);
                    transform-origin: 0 100%;

                    .forearm {
                        width: 100%;
                        height: 100%;
                        border-radius: ~'0 0 0 95% / 0 0 0 95%';
                        overflow: hidden;

                        .forearmin {
                            width: 86%;
                            height: 100%;
                            right: 0;
                            border-radius: ~'90% 5% 16% 6% / 90% 46% 43% 8%';
                            background-color: #bbbbbb;
                            background-image: linear-gradient(54deg, #686665 28%, transparent 38%), linear-gradient(98deg, #8a8a8a 31%, transparent 51%);
                            overflow: hidden;
                            box-shadow: inset -4px -4px 9px 1px rgba(0, 0, 0, 0.4), inset -18px -13px 18px 1px rgba(13, 13, 13, 0.34);

                            &:before {
                                .pseudoclear;
                                bottom: 0;
                                right: 10%;
                                height: 28%;
                                width: 216%;
                                transform-origin: 100% 100%;
                                transform: rotate(58deg);
                                border-radius: ~'18% 0 0 99% / 9% 0 0 43%';
                                border-bottom: 1px dashed rgba(0,0,0,0.35);
                                box-shadow: 0 9px 5px -8px rgba(14, 14, 14, 0.2), inset 0 -12px 4px -11px rgba(251, 251, 251, 0.15);
                            }

                            &:after {
                                .pseudoclear;
                                bottom: 7%;
                                right: 10%;
                                height: 28%;
                                width: 216%;
                                transform-origin: 100% 100%;
                                transform: rotate(58deg);
                                border-radius: ~'18% 0 0 99% / 9% 0 0 26%';
                                box-shadow: inset 0 -12px 6px -11px rgba(0, 0, 0, 0.36); 
                            }
                        }
                    }
                }
            }

            .wrinkle {
                &.wrinklea,
                &.wrinkleb {
                    width: 13%;
                    height: 5%;
                    border-radius: 50%;
                    background: #9e9e9e;
                }

                &.wrinklea {
                    top: 9%;
                    left: 48%;
                }

                &.wrinkleb {
                    top: 13%;
                    left: 46%;
                }

                &.wrinkle5,
                &.wrinkle6,
                &.wrinkle7 {
                    box-shadow: inset 11px 11px 2px -5px rgba(56, 56, 56, 0.09), -10px -8px 2px -4px rgba(29, 29, 29, 0.09), inset 13px 15px 7px -7px rgb(185, 185, 185);
                    border-radius: 0 95%;
                }

                &.wrinkle5 {
                    top: 51%;
                    left: 1%;
                    width: 48%;
                    height: 8%;
                    transform: rotate(30deg);
                }

                &.wrinkle6 {
                    top: 44%;
                    left: -1%;
                    width: 48%;
                    height: 8%;
                    transform: rotate(17deg);
                }

                &.wrinkle7 {
                    top: 16%;
                    left: 29%;
                    width: 47%;
                    height: 8%;
                    transform: rotate(26deg);
                }
            }

            .hand {
                top: -29%;
                right: 0;
                width: 66%;
                height: 33%;
                transform: rotate(-8deg);
                transform-origin: 100% 100%;

                .thumb {
                    bottom: -7%;
                    left: 8%;
                    width: 90%;
                    height: 73%;
                    border-radius: ~'24% 49% 80% 22% / 85% 30% 60% 22%';
                    transform: rotate(-15deg);

                    .segment {
                        &.segment1 {
                            top: -65%;
                            left: 28%;
                            width: 38%;
                            height: 46%;
                            transform: rotate(9deg);
                            border-radius: 50% 50% 0 0;
                        }

                        &.segment2 {
                            top: -76%;
                            left: -7%;
                            width: 52%;
                            height: 33%;
                            transform: rotate(7deg);
                            border-radius: 27%;
                        }
                    }

                    .flex {
                        background-color: #c1bfbf;
                        width: 102%;
                        height: 100%;
                        border-radius: inherit;
                        box-shadow: inset -1px -10px 10px 7px #757373;
                    }
                }

                .segment {
                    box-shadow: inset -8px 2px 5px -5px #797777, inset 11px 2px 9px -6px #918f8f;
                    background: #cecece;

                    &.segment1 {
                        bottom: 0;
                        right: 1%;
                        width: 39%;
                        height: 56%;
                        border-radius: ~'40% 15% 39% 40% / 40% 15% 12% 29%';
                    }

                    &.segment2 {
                        bottom: 45%;
                        right: 4%;
                        margin: auto;
                        width: 28%;
                        height: 45%;
                        overflow: hidden;
                        border-radius: ~'40% 15% 15% 40% / 40% 15% 14% 32%';
                    }

                    &.segment3 {
                        bottom: 87%;
                        right: 7%;
                        width: 21%;
                        height: 33%;
                        border-radius: ~'80% 20% 15% 40% / 70% 10% 15% 20%';
                        box-shadow: inset 6px 12px 5px -9px #b6b6b6, inset -8px 2px 5px -5px #707070, inset 11px 2px 9px -6px #919090;
                    }
                }

                .finger {
                    width: 100%;
                    height: 72%;
                    transform: rotate(-53deg);
                    transform-origin: 100% 100%;
                    bottom: 97%;
                    right: 21%;

                    &.finger4 {
                        right: 27%;
                        height: 93%;
                        transform: rotate(-26deg);

                        .segment2 {
                            &:after {
                                .pseudoclear;
                                top: 70%;
                                left: -20%;
                                width: 120%;
                                opacity: 0.5;
                                transform: rotate(45deg);
                                box-shadow: 0 0 2px 3px #821818;
                            }
                        }
                    }

                    .segment1 {
                        transform: rotate(7deg);
                    }

                    .segment2 {
                        transform: rotate(-10deg);
                    }

                    .segment3 {
                        transform: rotate(-17deg);
                        transform-origin: 100% 100%;
                    }
                }
            }


        }
    }
}
































